p {
    font-size: 14px;
}

.WorkView-row {
    display: flex;
    justify-content: space-between;
}

.WorkView-field,
.WorkView-dates {
    font-weight: bold;
    color: #334155;
}

.WorkView-company {
    color: #64748b;
}

.WorkView-row-right {
    display: flex;
    column-gap: 5px;
}

.WorkView-description {
    color: #334155;
}